@use '../../variables.scss' as *;


.side-bar {
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    gap: 2rem;
    align-items: center;

    img {
        max-width: 100%;
    }



    .bouton-theme {
        border: none;
        background-color: transparent !important;

        img {
            max-width: 35px;

        }
    }
}